.layout .main {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}
.leftNav {
  width: 100%;
  background-color: #c0c0c0;
  color: #333;
  font-size: 1.5rem;
  height: 100%;
  padding: 2rem;
}
.leftNav ul li {
  list-style: none;
}
.rightBox {
  height: 100%;
  background-color: #fff;
  font-size: 1.5rem;
}
.topNav {
  height: 5rem;
  background-color: #cfdefd;
}
.topNav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.topNav li {
  padding: 1rem;
  text-align: center;
  list-style: none;
}
.content {
  padding: 1.5rem;
}
